.idea
.DS_Store
.env
logs
cache
core/config/__pycache__
core/__pycache__
core/entities/__pycache__
core/api/__pycache__
core/domain/services/checkers/__pycache__
core/infrastructure/__pycache__
Key's.txt
core/presentation/bot/__pycache__
