.idea
.DS_Store
.env
logs
cache
config/__pycache__
core/__pycache__
core/entities/__pycache__
core/services/api/__pycache__
core/services/checkers/__pycache__
utils/__pycache__
Key's.txt
core/bot/__pycache__
